.example-form{
  width: 100%;
  text-align: center;
}

.example-form > form {
    text-align: center;
    margin-left: 20%;
    float: left;
  }
  
  .example-full-width {
   width: 100%;
  }

  .thanks{
    text-align: center;
  }
  