
<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1944.8011260051326!2d77.67132316766426!3d12.86894707508381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6d6cbd4ef91d%3A0xd7774d2df96b7c47!2sMathru%20chaya!5e0!3m2!1sen!2sin!4v1665853044955!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>


<div class="example-form">
  <h2>Enquiry</h2>
</div>
<form class="gform" method="POST" (ngSubmit)="onSubmit()" *ngIf="!hideForm"
action="https://script.google.com/macros/s/AKfycbzoHZPepay7qphMajRPvEUkukXC0ml5oYBYGmkQcXVsnLdxP5gLlMajwXRF-S62mfGA_Q/exec">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" name="name">
    </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput name="emailFormControl" 
                 placeholder="Ex. pat@example.com">
        </mat-form-field>
      

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" name="phone">
      </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Leave a comment" name="comment"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
</form>

<div *ngIf="hideForm" class="thanks"><h2>Thanks for your response</h2></div>
  