mat-grid-tile {
    background: lightblue;
  }

  .button-row {
    display: table-cell;
    width: 490px;
  }

  .button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .button-alignment {
    position: absolute; 
    margin: auto; 
    text-align: center; 
    top: 80%;
  }

  #get-quotes, #contact-us {
    background-color: salmon;
  }

  #get-quotes{
    margin-right: 10px;
  }