<mat-grid-list cols="1" rowHeight="3.5:2">
    <mat-grid-tile>
        <img style="width: 100% !important" src="{{myVar}}">
        <div class="example-button-row" style="position: absolute; margin: auto; text-align: center; top: 80%">
            <a mat-raised-button routerLink="/contactus" style="background-color: salmon; margin-right: 10px">Get Quote</a>
            <a mat-raised-button routerLink="/contactus" style="background-color: salmon">Contact Now</a>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
  